{% extends 'base_page_shop.html' %}
{% load static %}
{%block title%}Shop - Product list{%endblock title%}
{% block container %}

      <div class="main">
        <section class="module bg-dark-60 shop-page-header" data-background='{% static "assets/images/shop/product-page-bg.png"%}'>
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">Shop Products</h2>
                <div class="module-subtitle font-serif">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</div>
              </div>
            </div>
          </div>
        </section>
        <section class="module-small">

        </section>
        <hr class="divider-w">
        <section class="module-small">
          <div class="container">


            <div class="row multi-columns-row">
              {% for product in object_list %}

              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="shop-item">
                  {% static "" as baseUrl %}
                  <div class="shop-item-image"><img src='{{ baseUrl }}/{{ product.image_url }}' alt="Accessories Pack"/>

                    <div class="shop-item-detail">
                      <a class="btn btn-round btn-b" href="{% url 'single_product' product.pk %}"><span class="icon-layers">Detail</span></a>

                    </div>
                  </div>
                  <h4 class="shop-item-title font-alt"><a>{{product.name}}</a></h4>$ {{product.price}}
                </div>
              </div>
               {% endfor %}





          </div>
        </section>

        <hr class="divider-d">
         <footer class="footer bg-dark">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <p class="copyright font-alt">&copy; 2022&nbsp;<a href="{% url 'index' %}">RG Diadems</a>, All Rights Reserved</p>
              </div>
              <div class="col-sm-6">
                <div class="footer-social-links"><a href="https://www.instagram.com/rg_diadem/"><i class="fa fa-instagram"></i></a>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
      <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>


{%endblock container%}
